@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #A0AEC0;
    --secondary-color: #1C2541;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epunda+Sans', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#light {
    background-color: var(--primary-color);
}

#dark {
    background-color: var(--secondary-color);
}
/*header container */

.main-container {
    height: 100vh;
    padding: 20px 0;
}

.content-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #222D3A;
}

/*main section for search and temperature*/
.main-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container {
    position: relative;
    padding: 20px 0;
    max-width: 672px;
    margin: 0 auto;   
    width: 100%;
}

.form-container {
    max-width: 672px;
    margin: 0 auto;
    width: 100%;
    
}

.form-group {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
 
}

.form-group .search-icon {
    position: absolute;
    left: 1rem;
    width: 1.2rem;
    height: 1.25rem;
    opacity: 0.6;
    pointer-events: none;
}

.search-container img {
    position: absolute;
    width: 1.20rem;
    height: 1.25rem;
    color: rgba(156, 163, 175, 0.6);
    transition: all 0.3s ease;
}

.search-container input {
    padding: .6rem 10rem;
    font-size: 1.2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(24px);
    color: #fff;
    outline: none;
    transition: all 300ms ease;
    width: 80%;
    border-radius: 1rem;
    background-image: url('./Assets/search-icon.png');
    background-repeat: no-repeat;
    background-size: 2.2rem;
}

.search-container input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search-container input:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.search-container input:focus {
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.closeBtn {
    background: transparent;
    border: none;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
    right: 56px;
    top: 50%;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 38px;
}

.closeBtn:hover {
    color: #fff;
    transition: all 0.3s ease;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Search component*/

.searchDropDown {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(24px);
    overflow: hidden;
    z-index: 50;
    margin-top: 12px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to  {
        transform: rotate(360deg);
    }
}

.loading-spainer {
    animation: spin 1s linear infinite;
    border-radius: 9999px;
    height: 1.5rem;
    width: 1.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-top-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.search-text p {
    padding: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.searchButton  {
    width: 100%;
    padding: 16px 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(226, 225, 225);
    transition: all 0.2s;
    border: none;
}

.searchButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/*. {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}*/

.search-country {
    color: rgb(255, 243, 243);
    font-size: 14px;
}
/*search and toggle container*/
.main-search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* Temperature togggle component */
.tempToggle-main {
   background-color: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(24px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 1rem;
}

.toggleBtn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 2.5rem;
    gap: 10px;
}

.toggleBtn {
    padding: 7px;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 540;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.errorContainer {
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
}

.error-container-background {
    background-color: rgb(239, 68, 68);
    backdrop-filter: blur(24px);
    border: 1px solid rgba(248, 113, 113, 0.2);
    border-radius: 24px;
    padding: 32px;
    width: 40rem;
    height: 15rem;
}