@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epunda+Sans', sans-serif;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#light {
    background-color: #E1F5FE;
}

#dark {
    background-color: #03A9F4;
}
/*header container */

.main-container {
    height: 100vh;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #222D3A;
}

/*main section for search and temperature*/
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}